body {
    background-color: aliceblue;

}

.loginCard {
    background-color: lightgray;
    margin-top: 50px;
}

img.loginImg {
    display: block;
    margin: auto;
    width: 30%;
    box-shadow: 3px 3px 10px black; 
}

form.loginInputForm {
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 15px;
}

input.loginSignIn {
    background-color: red;
    color: white;
    margin-bottom: 10px;
}

a.loginNewAccount {
    display: block;
    margin: auto;
    text-align: center;

}
